#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.lo#root {
  max-width: 1280px;
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-top: 2vh;
}

li {
  display: inline;
  margin: 0 1vw 0 1vw;
}

li a {
  text-decoration: none;
  color: var(--light-color);
}

header {
  background-color: var(--primary-color);
  width: 100vw;
  height: 8vh;
  position: relative;
}

.mainsect {
  position: relative;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 400px;
  padding-top: 100px;
  background: var(--primary-color);
  color: var(--light-color);
}

.curve {
  position: absolute;
  height: 250px;
  width: 100vw;
  bottom: 0;
  text-align: center;
}

.curve::before {
  content: '';
  display: block;
  position: absolute;
  border-radius: 100% 50%;
  width: 54%;
  height: 100%;
  transform: translate(85%, 67%);
  background-color: var(--light-color);
}

.curve::after {
  content: '';
  display: block;
  position: absolute;
  border-radius: 100% 50%;
  width: 55vw;
  height: 100%;
  background-color: var(--primary-color);
  transform: translate(-4%, 45%);
  z-index: -1;
}

#searchbar {
  border-radius: 50px;
  width: 70%;
  height: 3.5vh;
  border: 1px solid var(--light-color);
  text-indent: .5rem;
}

.projectsect {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.projectsect div {
  margin-top: 20vh;
  margin-left: 15vw;
  background-color: gray;
  height: 20vh;
  width: 25vw;
}go {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
